html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Arial;
    font-size: 1.5em;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
  height: 20px;
  width: 20px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.row {
  display: flex;
}

.square {
  background-color: #ababab;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-top-color: white;
  border-left-color: white;
  text-align: center;
  padding: 5px;
}

.square:active {
    background-color: #2f2f2f;
}

.empty {
  background-color: grey;
  border-top-color: #ababab;
  border-left-color: #ababab
}

.option {
  display: flex;
  align-items: center;
}

.game-options {
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.label {
  margin: 10px;
}

.start {
  background-color: green;
  border-radius: 5px;
  color: white;
  width: 200px;
  height: 60px;
  font-size: 30px;
}

.menu {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.win {
  display: flex;
  justify-content: center;
}

.game-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bombs-remaining {
  color: red;
  margin: 10px;
}

.restart-game-container {
  display: flex;
  justify-content: center;
}

.restart-game {
  width: 200px;
  height: 60px;
  color: white;
  background-color: green;
  margin: 10px;
  font-size: 30px;
  border-radius: 5px;
}
